@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap');
html,body{
  height: 100%;
  width: 100%;

}
#root{
  height: inherit;
}
.App {
  text-align: center;
  
  font-family: 'Montserrat';
  height: inherit;
  overflow-y: hidden;
  
}
.divisioncont{
  display: flex;
  flex-direction: row;
  height: inherit;
  position: absolute;
  top: 0%;
  transition: top .5s ease-in;
  z-index: 1;
}
.division h1,p{
  position: absolute;
}
.division p{
  text-align:left;
  margin: 0;
  width: 50%;
  font-size: larger;
  opacity: 1;
  color: white;
  background-color: #8080802f;
  padding: 20px;
  top:-100%;
  transition: top .5s ease;
}
.division h1{
  margin: 0;
  color: white;
  top: 80%;
  font-size: 50px;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to left,#80808015,#80808010,#80808062,#000000 110%);
  background-size: 400% 400%;
  transition: font-size .5s ease-in-out;
}

.images{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.images > div{
  flex: 1;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.images > div:nth-of-type(2){
  align-self:flex-end;
}

.images div div{
  text-align: justify;
  background-color: peachpuff;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  top: 100%;
  z-index: 0;
  position: absolute;
  color:rgb(245, 119, 9);
}


.division{
  
  flex: 1;
  background-color: #21325E;
  height: 100%;
  border-right: solid #142a63 1px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.division:nth-of-type(2) video{
  
}
.bookmark{
  position: absolute;
  top: 50%;
  
  right: 0;
  transition: width 5s ease-in;
}
.bookmark:hover{
  width: 20%;
}
.bookmark > div{
  
  margin-top: 50px;
  padding:  20px;
  background-color: #C84B31;
  
}

.bookmark > div:hover{
  background-color: #ca2c0d;
  color: white;
  opacity: 0.2;
}
.division:hover{
  background-color: #3E497A;
}

.definition{
  height: 100%;
  width: 100%;
  background-image: url('./assets/Space_1.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.definition canvas{
  height: 100%;
  width: 100%;
}
.meaning p{
  width: 30%;
  background-color: rgba(255, 255, 255, 0.479);
  top: 25%;
  left: 3%;
  text-align: justify;
  font-size: 1.3em;
  color:white;
  padding: 20px;
}
.meaning div p{
  background-color: rgba(255, 255, 255, 0.479);
  position: absolute;
  width: 20%;
  padding: 20px;
  top: 30%;
  left: 50%;
  color:white;
  display: none;
  border-radius: 5px;
}
.block{
  font-family: 'Montserrat';

}
.block button{
  position:absolute;
  
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  
}
.effects{
  height:100%;
}

.meaning h1{
  margin: 0;
  position: absolute;
  height: 15%;
  font-size: 4em;
  color: white;
  top: 85%;
  padding-left: 20px;
}
.minigame{
  position:relative;
  background-image: url('./assets/back.png');
}
.popup{
  font-family:cursive;
  font-size:x-large;
  padding: 20px;
  background-color: white;
  position:absolute;
  top: 20%;
  left:-60%;
  width: 50%;
  margin: 0 auto;
  
  border-radius: 5px;
  transition: left 2s ease-in;
}
.effects p {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.479);
  top: 10%;
  left: 3%;
  text-align: justify;
  font-size: 1.3em;
  padding: 20px;
}